

.three_box {
  display: flex;
  justify-content: center;

  div {
    background-color: black;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  h3 {
    margin-block-start: .5em;
    margin-block-end: .5em;
  }

  img {
    width: 95%;
  }
}

