.three_box {
  display: flex;
  justify-content: center;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  img {
    border: 5px solid grey;
    width: 95%;
  }
}

