* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}
