.three_box {
  display: flex;
  justify-content: center;
}

.loading {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 266;
}

.loading_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 3em;
  text-decoration: none;
  color: #FFDF24;
  -webkit-text-stroke: .6px #ff8c00;
}

.progress {
  width: 80%;
  border-radius: 10px;
  background-color: grey;
}

.bar {
  display: flex;
  align-items: center;
  width: 0%;
  height: 50px;
  border-radius: 10px;
  background-color: #4CAF50;
  line-height: 30px;
}

.loading_text {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;
  font-weight: 300;
  font-size: .4em;
  color: #FFDF24;
  -webkit-text-stroke: .6px #ff8c00;
}

.hud_box {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  left: 20%;
  right: 20%;
  bottom: 0;
  text-align: center;
  z-index: 265;
}

@media only screen and (max-width: 768px) {
  .hud_box {
    left: 0;
    right: 0;
  }
}

.hud_contents {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  a {
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    text-decoration: none;
    color: #FFDF24;
    -webkit-text-stroke: .4px #ff8c00;
  }

  a:active {
    background-color: rgba(255, 255, 255, 0.3);
  }

  input[type=image] {
    padding: 8px 10px 5px 10px;
    width: 6vh;
    border-radius: 20px;
    outline-width: 0;
  }

  input[type=image]:active {
    background-color: rgba(255, 255, 255, 0.3);
  }

  @media (hover: hover) {
    a:hover { 
      background-color: rgba(255, 255, 255, 0.3);
    }

    input[type=image]:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}

@media only screen and (max-width: 768px) {
  .hud_contents {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    a {
      border-radius: 20px;
      font-family: 'Muli', sans-serif;
      font-weight: 400;
      font-size: .8em;
      text-decoration: none;
      color: #FFDF24;
      -webkit-text-stroke: .4px #ff8c00;
    }

    input[type=image] {
      padding: 5px 10px 5px 10px;
      width: 5vh;
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: rgb(1, 1, 1);
  font-size: 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  h3 {
    margin-block-start: .5em;
    margin-block-end: .5em;
    width: 90%;
  }

  p {
    width: 90%;
  }

  img {
    width: 90%;
    height: 90%;
  }
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: rgb(1, 1, 1);
  font-size: 64px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  h3 {
    margin-block-start: .5em;
    margin-block-end: .5em;
    width: 80%;
  }

  p {
    width: 80%;
  }

  img {
    height: 65%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: rgb(1, 1, 1);
  font-size: 64px;
  font-family: Georgia, 'Times New Roman', Times, serif;

  h3 {
    margin-block-start: .5em;
    margin-block-end: .5em;
    width: 90%;
  }

  p {
    width: 75%;
  }

  img {
    width: 95%;
  }
}